*{
    margin: 0;
    padding: 0;;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    background-color: hsl(220, 100%, 94%);
}

.container{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    max-width: 450px;
    background-color:white;
    overflow: hidden;
    border-radius: 20px;
}

.text-content{
    padding: 7%;
    text-align: center;
}

.text{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 12px;
}

.subtitle p{
    color: #8a8a8a;
    margin-bottom: 20px;
}

.plan-box{
    background-color: hsl(225,100%,98%);
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius:20px;
}

.plan-box-left{
    display: flex;
    text-align: start left;
}

.plan-box-left div{
    margin-left: 20px;
    
}

.plan-box-left div h5{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.plan-box-left div p{
    color: #8a8a8a;

}

.plan-box a{
    text-decoration: none;
    
    font-weight: bold;
    color: black;
}

a.process-btn{
    display: block;
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 15px 0px;
    margin: 30px 0px;
    border-radius: 20px;
}

a.cancel-btn{
    text-decoration: none;
    font-size: 18px;
    color: black;
}

